/* Main.css */
.main-content {
  padding-top: 64px; /* Adjust based on NavBar height */
  animation: fadeIn 0.5s ease-in-out;
}

/* Smooth fade-in effect for route transitions */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Loading screen styling */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #555;
  font-size: 1.5em;
  font-weight: bold;
}
